* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* -----------Nav section----------- */
nav {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 16px 10em;
    height: 8%;
    box-shadow: 0 2px 5px #00000014;
}

nav h2 {
    font-size: 26px;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
}

nav ul li:hover {
    color: gray;
}

nav .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        padding: 16px 2rem;
    }

    nav ul {
        display: none;

    }
}

/* Hero section---------- */
.hero {
    width: 100%;
    height: 90%;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-btn-container {
    color: white;
    position: absolute;
    top: 12%;
    left: 10%;
}

.text-btn-container button,
.shop-now {
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.text-btn-container button:nth-child(2) {
    background-color: rgba(209, 201, 201, 0.407);
    /* border: 1px solid gray; */
    color: #fff;
    margin-left: 20px;
}

.hero h1 {
    font-size: 8em;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 4.5em;
        width: 100;
    }
}

/* ----------------web-info-sec-------------- */
.web-info-sec {
    padding: 3rem 10rem;
    width: 100%;
}

.info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 3rem; */
    justify-content: space-between;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    padding-right: 0;
    width: 250px;
}

.info .info-card:nth-child(1) {
    padding-left: 0;
}

.info-card img {
    margin-left: -12px;
    margin-bottom: 10px;
    width: 80px;
    height: 60px;
}

.info-card h3 {
    font-size: 20px;
}

.info-card p {
    margin-top: 10px;
    opacity: 0.9;
}

.explore-img {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    /* background-color: aquamarine; */
}

.expolre {
    position: relative;
    border-radius: 10px;
}

.expolre img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expolre .explore-float {
    position: absolute;
    top: 5%;
    left: 4%;
}

.explore-float h5 {
    padding: 10px 15px;
    width: fit-content;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.explore-float h3 {
    margin-top: 90px;
    font-size: 35px;
    color: #fff
}

.explore-float>.shop-now {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .web-info-sec {
        flex-direction: column;
        padding: 1rem;
    }

    .web-info-sec .info {
        flex-direction: column;

    }

    .web-info-sec .info-card {
        padding-left: 0;
    }

    .explore-img {
        flex-direction: column;
        border-radius: inherit;
    }

    .exprolre {
        border-radius: 10px;
    }

    .explore-float h3 {
        font-size: 25px;
        margin-top: 8px;
    }
}

/* ----------Best Seller------------ */

.Best-seller-sec {
    padding: 3rem 10rem;
    width: 100%;
}

.Best-seller-sec h2 {
    width: fit-content;
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.best-seller-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.best-seller-card h3 {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 4px;
}

.best-seller-card h3 span {
    color: yellow;

}

.best-seller-card h3 span span {
    color: black;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 400;
}

.best-seller-card .img-conatiner {
    border-radius: 10px;
    overflow: hidden;
    height: 220px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

.best-seller-card>.img-conatiner img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.best-seller-card img:hover {
    transform: scale(1.2);
    transition: ease 0.5s;
}

.best-seller-card p {
    padding: 0 4px;
}

.best-seller-card p span {
    opacity: 0.9;
    margin-left: 10px;
    text-decoration: line-through;
}

/* ----------Product page */

.products-page {
    width: 100%;
    display: none;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.products-page h1 {
    margin: 0 auto;
    width: fit-content;
    font-size: 6em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 1200px
}













@media (max-width: 768px) {
    .Best-seller-sec {
        padding: 10px;
    }

    .Best-seller-sec h2 {}

    nav {
        padding: 16px 1rem;
    }
}